.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PageOne{
  background: #09121A;
align-items: center;
height: 100vh;

display: flex;
}

/* cant get this to look good lol 
its supposed to be on page 1, values taken from figma*/
.Gradient{
opacity: 0.7;
background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(2, 84, 156, 0.63) 0%, rgba(0, 0, 0, 0.00) 100%);
width: 884px;
height: 650px;
flex-shrink: 0;
}
.PageOneHeader{
  margin: auto;
  color: white;
  float: left;
}
/* the two text boxes for page one*/
.Card1{
position: absolute;
float: left;
border-radius: 24px;
background-color: aliceblue;
height:75vh;
}

.Card2{
position: absolute;
border-radius:24px;
background-color:aliceblue;
height:75vh;


}
.container {
  position: absolute;
  padding: 2px 16px;
  left: 0;
  right: 0;
  display: table-cell;
  vertical-align: center;
  margin: auto;
}
.PageOneText{
  color: white;

}